* {
    margin: 0;
    padding: 0;
}

.main {
    margin: 50px 0 0 50px;
}

.nav {
    list-style: none;
}

.nav__title {
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    font-weight: bold;
    color: #1a1a1a;
    width: 140px;
    height: 50px;
    padding: 15px 40px;
    background-color: #e7c733;
}

.nav__item {
    font-family: 'Roboto', sans-serif;
    font-size: 31px;
    color: #1a1a1a;
    text-transform: capitalize;
    position: relative;
    margin-top: 115px;
}

.progress__bar {
    margin-top: 30px;
    width: 620px;
    height: 28px;
    border: 1px solid #e7e7e8;
}

.progress__bar:after {
    content: '';
    left: 0;
    height: 30px;
    position: absolute;
    background-color: #bfc0c1;
}

.progress__bar_first:after {
    width: 460px;
}

.progress__bar_second:after {
    width: 540px;
}

.progress__bar_third:after {
    width: 460px;
}

.progress__bar_fourth:after {
    width: 550px;
}

.progress__bar_fifth:after {
    width: 460px;
}

.progress__bar_sixth:after {
    width: 540px;
}
