<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pseudo elements</title>
    <link href="../styles/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <div class="main">
        <h1 class="nav__title">skills</h1>
        <ul class="nav">
            <li class="nav__item">communication<div class="progress__bar progress__bar_first"></div></li>
            <li class="nav__item">creativity<div class="progress__bar progress__bar_second"></div></li>
            <li class="nav__item">teamwork<div class="progress__bar progress__bar_third"></div></li>
            <li class="nav__item">organization<div class="progress__bar progress__bar_fourth"></div></li>
            <li class="nav__item">leadership<div class="progress__bar progress__bar_fifth"></div></li>
            <li class="nav__item">teamplayer<div class="progress__bar progress__bar_sixth"></div></li>
        </ul>
    </div>
</body>
</html>