* {
  padding: 0;
  margin: 0;
}

.container {
  margin: 45px 55px 0 80px;
}

.user-profile-avatar {
  width: 425px;
  height: 350px;
  float: left;
}

.user-info {
  width: 745px;
  float: left;
  margin-left: 60px;
}

.user-info div {
  background: #0085ff;
}

.user-info div span {
  font-size: 24px;
  padding-left: 35px;
  display: inline-block;
  vertical-align: middle;
  line-height: 45px;
}

.user-info p {
  margin-top: 30px;
  text-align: justify;
  line-height: 30px;
  font-size: 20px;
}
