<!DOCTYPE html>
<html lang="en">
<head>
    <title>Palo Alto</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
</head>
<body>
    <div class="container">
        <main>
            <header>
                <h1 class="logo">palo alto</h1>
                <ul class="header__nav">
                    <li class="header__nav__item"><a href="#" class="header__nav__link header__nav__link_inactive">home</a></li>
                    <li class="header__nav__item"><a href="#" class="header__nav__link">about</a></li>
                    <li class="header__nav__item"><a href="#" class="header__nav__link">archive</a></li>
                    <li class="header__nav__item"><a href="#" class="header__nav__link">contact</a></li>
                </ul>
                <a href="#" class="header__search"><i class="fas fa-search"></i></a>
            </header>
            <article>
                <div class="post__content">
                    <a href="#" class="post__category">i do travel</a>
                    <h3 class="post__date">sep 20</h3>
                    <h1 class="post__title">no difference how many peaks you reach if there was no pleasure in the climb.</h1>
                    <p class="post__text">Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.</p>
                    <a href="#" class="post__read-more">read more</a>
                    <ul class="post__hashtag_list">
                        <li class="post__hashtag__item"><a href="#" class="post__hashtag_link">#Yosemite</a></li>
                        <li class="post__hashtag__item"><a href="#" class="post__hashtag_link">#Peak</a></li>
                        <li class="post__hashtag__item"><a href="#" class="post__hashtag_link">#Explorer</a></li>
                    </ul>
                </div>
            </article>
            <article>
                <a href="#" class="post__logo_link"><img src="../images/post.png" class="post__logo_image"></a>
                <div class="post__content">
                    <a href="#" class="post__category">i do observe</a>
                    <h3 class="post__date">sep 18</h3>
                    <h1 class="post__title">you know, I'd rather argue with you, then laugh with anyone else.</h1>
                    <p class="post__text post__text_description">
                        Curabitur luctus placerat lorem id eleifend. Nulla ac lacus finibus, tempor velit hendrerit, vulputate lacus. Nunc fermentum nunc sem, ac eleifend tellus cursus nec. Donec a euismod est, vitae accumsan purus. Proin aliquet ex massa, ac finibus magna commodo vitae.
                    </p>
                    <p class="post__text">
                        Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
                    </p>
                    <p class="post__text">
                        Sed sagittis commodo dolor. Vivamus elementum sem sed sapien bibendum viverra. Curabitur semper scelerisque turpis eu ullamcorper. Morbi tincidunt auctor orci id consequat. Nulla odio mi, iaculis id congue quis, euismod id nisi. In varius congue diam, et viverra lorem bibendum ut.
                    </p>
                    <a href="#" class="post__read-more">read more</a>
                    <ul class="post__hashtag_list">
                        <li class="post__hashtag__item"><a href="#" class="post__hashtag_link">#Yosemite</a></li>
                        <li class="post__hashtag__item"><a href="#" class="post__hashtag_link">#Peak</a></li>
                        <li class="post__hashtag__item"><a href="#" class="post__hashtag_link">#Photo</a></li>
                    </ul>
                </div>
            </article>
            <article>
                <div class="post__content">
                    <a href="#" class="post__category">i do reflect</a>
                    <h3 class="post__date">sep 11</h3>
                    <h1 class="post__title">democracy means simply the bludgeoning of the people by the people for the people.</h1>
                    <p class="post__text post__text_description">
                        Curabitur luctus placerat lorem id eleifend. Nulla ac lacus finibus, tempor velit hendrerit, vulputate lacus. Nunc fermentum nunc sem, ac eleifend tellus cursus nec. Donec a euismod est, vitae accumsan purus. Proin aliquet ex massa, ac finibus magna commodo vitae.
                    </p>
                    <img src="../images/post_image.png" alt="" class="post__image">
                    <p class="post__text">
                        Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
                    </p>
                    <p class="post__text">
                        Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
                    </p>
                    <p class="post__text">
                        Mauris sem odio, rhoncus eget euismod sed, pellentesque sit amet felis. Praesent dictum eleifend dui et efficitur. Nunc non orci in neque sodales semper. Etiam euismod volutpat lorem,
                        <a href="#" class="post__text_link">vestibulum malesuada</a> justo aliquet eget. Nunc lacus ante, varius a euismod eu, finibus commodo erat. Curabitur tincidunt sit amet nunc id interdum. Aliquam augue nisi, venenatis vitae ex at, lobortis fringilla nibh. Proin placerat enim vitae egestas eleifend. Aliquam quis orci dignissim, posuere nibh a, eleifend augue. Cras quis metus nec tortor aliquet ullamcorper. Quisque varius porta metus, ut maximus dolor euismod nec. Suspendisse sit amet feugiat turpis.
                    </p>
                    <p class="post__text_quote">
                        Curabitur ut leo pulvinar, consectetur magna eu, feugiat purus. Morbi hendrerit lectus turpis, a porttitor velit imperdiet id.
                    </p>
                    <p class="post__text">
                        Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor. Nullam scelerisque ante mauris, egestas commodo nisi gravida ultrices. Suspendisse dapibus feugiat tincidunt. Aliquam gravida quam at ipsum sagittis bibendum.
                    </p>
                    <a href="#" class="post__read-more">read more</a>
                    <ul class="post__hashtag_list">
                        <li class="post__hashtag__item"><a href="#" class="post__hashtag_link">#Democracy</a></li>
                        <li class="post__hashtag__item"><a href="#" class="post__hashtag_link">#Introspection</a></li>
                    </ul>
                </div>
            </article>
        </main>
        <footer>
            <div class="footer__content">
                <h1 class="footer__logo">palo alto</h1>
                <ul class="footer__nav">
                    <li class="footer__nav__item"><a href="#" class="footer__nav__link footer__nav__link_inactive">home</a></li>
                    <li class="footer__nav__item"><a href="#" class="footer__nav__link">about</a></li>
                    <li class="footer__nav__item"><a href="#" class="footer__nav__link">archive</a></li>
                    <li class="footer__nav__item"><a href="#" class="footer__nav__link">contact</a></li>
                    <li class="footer__nav__item"><a href="#" class="footer__nav__link footer__search"><i class="fas fa-search"></i></a></li>
                </ul>
                <p class="footer__site_description">
                    Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.
                </p>
                <div class="footer__copyrights">
                    © 2015 - Palo Alto. All Rights Reserved. Designed & Developed by
                    <a href="#" class="footer__copyrights_link">PixelBuddha Team</a>
                </div>
                <ul class="footer__social-links">
                    <li class="footer__social-links__item">
                        <a href="#" class="footer__social-links__link"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li class="footer__social-links__item">
                        <a href="#" class="footer__social-links__link"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="footer__social-links__item">
                        <a href="#" class="footer__social-links__link"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="footer__social-links__item">
                        <a href="#" class="footer__social-links__link"><i class="fab fa-pinterest"></i></a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>