<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/post.css">
</head>
<body>
    <main>
        <div class="post">
            <div class="post__image"></div>
            <div class="post__category-icon"></div>
            <div class="post__content">
                <h2 class="post__content-category"><a href="#" class="post__link">adventures</a></h2>
                <h1 class="post__content-title"><a href="#">awesome gallery post</a></h1>
                <h2 class="post__content-date"><a href="#" class="post__link">january 19, 2016</a></h2>
                <a href="#" class="post__link post__content-button">read more</a>
            </div>
            <div class="post__footer">
                <i class="far fa-comments"></i>
                <h3 class="post__footer-comments_counter"><a href="#" class="post__link">02 comment</a></h3>
            </div>
        </div>
    </main>
</body>
</html>