<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header__top">
                <span class="header__top-logo">minimo</span>
                <ul class="header__top-links_list links__list">
                    <li class="links__list-item"><a class="header__top-link" href="#">lifestyle</a></li>
                    <li class="links__list-item"><a class="header__top-link" href="#">photodiary</a></li>
                    <li class="links__list-item"><a class="header__top-link" href="#">music</a></li>
                    <li class="links__list-item"><a class="header__top-link" href="#">travel</a></li>
                </ul>
            </div>
            <img class="header__advertisement" src="../images/advert.png" />
        </div>
        <div class="main">
            <div class="main__left">
                <h2 class="post__category">photodiary</h2>
                <h1 class="post__title">The perfect weekend getaway</h1>
                <p class="post_content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <img class="post__image" src="../images/post.png" />
                <p class="post_content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="main__right">
                <div class="about__me">
                    <img class="about__me-image" src="../images/about.png" />
                    <h1 class="about__me-title">About me</h1>
                    <p class="about__me-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
                <div class="top__posts">
                    <h2 class="top__posts-title">top posts</h2>
                    <ul class="top__posts-list">
                        <li class="top__posts-list_item"><a class="top__posts-list_item-link" href="#">A day exploring the Alps</a></li>
                        <span class="comments_counter">24 comments</span>
                        <li class="top__posts-list_item"><a class="top__posts-list_item-link" href="#">American dream</a></li>
                        <span class="comments_counter">19 comments</span>
                        <li class="top__posts-list_item"><a class="top__posts-list_item-link" href="#">Cold winter days</a></li>
                        <span class="comments_counter">15 comments</span>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <ul class="footer__links links__list">
            <li class="links__list-item"><a class="footer__links-item" href="#">Terms and condition</a></li>
            <li class="links__list-item"><a class="footer__links-item" href="#">Privacy</a></li>
        </ul>
    </div>
</body>